/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */
	color: #CC00AA;
}

/* this style exists to make it obvious that you've successfully linked
   the CSS to the page. feel free to remove it once the link is working. */
body {
     border: 1px dotted gray;
     padding: 20px;
}

.project{
	font-family: Georgia;
	margin-left: 20px;
	font-size: 20px;
	background-color: #ffefd5;
	border-radius: 15px 15px 15px 15px;
	padding-top: 5px;
}

.jumbotron-container {
	position: relative;
     margin-top: 50px;
     margin-bottom: 20px;
     padding: 20px;
}

#profile{
	border: white;
}

#profile img {
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header1 {
	font-family: Georgia, fantasy;
	font-size: 90px;
}

h1{
	color: Green;
}

#about{
	width: 500px;
	text-align: center;
}

.header2 {
	font-family: Georgia;
	font-size: 30px;
	color: orange;
}

/*.header1 h1{
	margin-top: 10px;
}*/

p{
	font-family: Shree Devanagari 714;
}

.header {
	font-family: Helvetica;
	font-size: 90px;
}

#about{
	font-family: Shree Devanagari 714;
	font-size: 20px;
}
